{% extends 'album/base.html' %}
{% block style %}
{% endblock %}

{% block content %}
<h2 class="text-center text-primary">Welcome to My Gallery</h2>


{% if images %}
<div class="container">
    <div class="row">
        {% for image in images %}
        <div>
            <p>{{ image.name }}</p>
            <p>Location {{ image.location}} </p>
            <p>Category: {{ image.category}} </p>
            <a>Copy Link</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}